.menu {
  justify-content: center;
  margin-bottom: 20px;
}

.header {
  max-width: 944px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  right: 410px;
  left: 410px;
  border-bottom: 1px solid #d9d9d9;
}
