@media (max-width: 580px) {
  .film__title {
    font-size: 1em;
  }
  .film__info {
    height: 100%;
    padding: 5px 10px;
  }
  .film__poster {
    width: 60px;
    height: 91px;
    margin-top: 5px;
    margin-left: 10px;
  }
  .film__card {
    display: flex;
    flex-direction: column;
    height: 245px;
  }
  .film__header {
    display: flex;
  }

  .film__rate {
    padding: 0 10px;
    padding-bottom: 5px;
  }

  .film__description {
    padding: 0px 10px;
  }
}
