@import '~antd/dist/antd.css';

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: 'Inter', sans-serif;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e5e5e5;
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
}

.loader {
  width: 100%;
  height: 100%;
  align-self: center;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.moviesapp {
  background-color: #ffffff;
  margin: auto;
  padding: 20px 36px;
  max-width: 1010px;
}

.menu {
  justify-content: center;
  margin-bottom: 20px;
}

.header {
  max-width: 944px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.footer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.film {
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  margin-bottom: 36px;
}

.filmlist {
  min-height: 80vh;
}

.film:hover {
  cursor: pointer;
}

.ant-card-body {
  padding: 0;
}
.film__card {
  display: flex;
  flex-direction: row;
}

.film__rate {
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.film__poster {
  width: 183px;
  height: 281px;
  flex-shrink: 0;
  &-img {
    width: 100%;
    height: 100%;
  }
}

.film__info {
  width: 268px;
  height: 281px;
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  &--header {
    display: flex;
  }
}

.film__title {
  color: #000000;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 7px;
}

.film__vote {
  margin-left: auto;
  flex-shrink: 0;
  font-size: 12px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  &--mark {
    font-size: 12px;
  }
}

.film__date {
  color: #827e7e;
  margin-bottom: 7px;
  font-size: 12px;
  line-height: 22px;
}

.film__tags {
  margin-bottom: 7px;
}

.film__description {
  font-size: 12px;
  line-height: 22px;
  overflow: hidden;
}
